@font-face {
  font-family: 'Abril Fatface';
  font-style: normal;
  font-weight: 400;
  src: url(./fonts/AbrilFatface-Regular.otf) format('opentype');
}
/* chocolate Sidebar */

.theme-base-chocolate .sidebar {
    background-color: #edc951;
    color: #655643;
}
.theme-base-chocolate .sidebar a {
    color: #655643;
    font-weight: bold;
}
.theme-base-chocolate .sidebar a:hover {
    color: #bf4d28;
}
.theme-base-chocolate .sidebar-nav a.active {
    text-decoration: none;
}
.theme-base-chocolate .sidebar h1 a {
    color: #655643;
    font-size: 2.8rem;
}
.theme-base-chocolate .sidebar h1 a:hover {
    color: #655643;
    text-decoration: none;
}
.theme-base-chocolate .sidebar-nav {
    margin-top: 1rem;
}
.theme-base-chocolate .list-inline {
    margin-top: 1em;
    padding-left: 0;
    list-style-type: none;
}
.theme-base-chocolate .list-inline li {
    display: inline-block;
}
.theme-base-chocolate .list-inline .fa-circle {
    color: rgba(255, 255, 255, 0.5);
}
.theme-base-chocolate .list-inline a:hover .fa-circle {
    color: #655643;
}
.theme-base-chocolate .list-inline .fa-stack-1x {
    color: #655643;
}
.theme-base-chocolate .list-inline a:hover .fa-stack-1x {
    color: #edc951;
}
.theme-base-chocolate .copyright {
    margin-bottom: 0;
    font-size: 0.5rem;
}
.theme-base-chocolate .sidebar p.lead {
    font-size: 1rem;
}
@media screen and (max-width: 767px) {
    .theme-base-chocolate .sidebar {
        display: none;
    }
}
/* End of sidebar css */
/* Navbar */

.theme-base-chocolate .navbar {
    display: none;
    position: fixed;
    width: 100%;
    margin-bottom: 20px;
    background-color: #edc951;
    color: #655643;
    z-index: 10;
    text-align: center;
}
.theme-base-chocolate .navbar h1 {
    font-size: 1rem;
    font-family: "Abril Fatface", serif;
}
.theme-base-chocolate .navbar a {
    display: inline-block;
    color: #655643;
    text-decoration: none;
    margin: 0 10px;
    margin-bottom: 5px;
}
.theme-base-chocolate .navbar a.home-logo {
    margin: 0 auto;
    float: none;
}
@media screen and (max-width: 767px) {
    .theme-base-chocolate .navbar {
        display: block;
    }
    .theme-base-chocolate .content {
        padding-top: 5.5rem;
    }
}
/* End of Navbar */
/* Index css */

.theme-base-chocolate .post-info, .post-info-detail {
    margin-bottom: 10px;
}
.theme-base-chocolate .post-info, .theme-base-chocolate .post-info a {
    color: #9a9a9a;
    font-size: .75rem;
}
.theme-base-chocolate .post-info a:hover {
    color: #bf4d28;
    text-decoration: none;
}
.theme-base-chocolate .post-date {
    font-size: 1rem;
    margin-bottom: .5rem;
}
.theme-base-chocolate .post {
    border-bottom: 1px solid #ddd;
    margin: 0;
    padding: 40px 0;
}
.theme-base-chocolate .post h1 p {
    font-size: 1rem;
    font-weight: normal;
    margin-top: 0.5rem;
}
.theme-base-chocolate .post .post-title a {
    color: #2a363b;
}
.theme-base-chocolate .post .post-title a:hover {
    text-decoration: none;
    color: #bf4d28;
}
.theme-base-chocolate a.pagination-item:hover {
    background-color: #bf4d28;
    color: #fff;
    border-color: #bf4d28;
    text-decoration: none;
}
.theme-base-chocolate .pagination-item {
    width: 30%;
    border: 1px solid #bbb;
    border-radius: 4px;
}
.theme-base-chocolate .newer {
    float: right;
}
@media (max-width: 480px) {
    .theme-base-chocolate .pagination-item {
        margin-top: 30px;
        width: 100%;
    }
    .theme-base-chocolate .newer {
        float: left;
    }
}
.theme-base-chocolate .post-tag {
    margin-bottom: 16px;
}
/* End of index css */
/* Tag summary */

.theme-base-chocolate table.tag-summary {
    border: 0;
}
.theme-base-chocolate table.tag-summary tbody td {
    background-color: #fff;
    border: 0;
    border-bottom: 1px solid #bbb;
}
.theme-base-chocolate .tag-summary-title {
    color: #bf4d28;
}
.theme-base-chocolate .tag-summary a {
    color: #2a363b;
}
.theme-base-chocolate .tag-summary a:hover {
    color: #bf4d28;
    text-decoration: none;
}
.theme-base-chocolate .tag-summary h3 {
    margin-bottom: 0.75em;
}
.theme-base-chocolate .subtitle {
    display: block;
    margin-top: 0.5rem;
    font-weight: normal;
}
.theme-base-chocolate .tag-summary p, .theme-base-chocolate .tag-summary p a {
    color: #9a9a9a;
    vertical-align: middle;
}
/* End of Tag summary */
/* Archives */

.theme-base-chocolate .archive li {
    list-style: none;
    padding: 0 0 15px 0;
}
.theme-base-chocolate .archive div {
    display: inline-block;
}
.theme-base-chocolate .archive .month {
    width: 10%;
    vertical-align: top;
    color: #9a9a9a;
}
.theme-base-chocolate .archive .archive-post-title {
    width: 88%;
    line-height: 25px;
}
@media screen and (max-width: 480px) {
    .theme-base-chocolate .archive .month {
        width: 10%;
        margin-right: 4%;
    }
    .theme-base-chocolate .archive .archive-post-title {
        width: 84%;
    }
}
.theme-base-chocolate .archive a {
    color: #2a363b;
}
.theme-base-chocolate .archive a:hover {
    color: #bf4d28;
    text-decoration: none;
}
.theme-base-chocolate .tag-cloud {
    list-style: none;
    padding: 0;
    padding-left: 40px;
    text-align: justify;
    font-size: 16px;
}
.theme-base-chocolate .tag-cloud li {
    display: inline-block;
    margin: 0 12px 12px 0;
}
@media screen and (min-width: 768px) {
    .listingblock .content {
        margin-right: 5px;
        margin-left: 5px;
    }
}
td.gutter {
    padding-left: 1px;
    padding-right: 1px;
}
td.gutter {
    padding-left: 1px;
    padding-right: 1px;
}
pre.line-numbers {
    padding-left: 1px;
    padding-right: 1px;
}
/* End of Archive */
/* Other */

.theme-base-chocolate .page-title {
    margin-bottom: 1rem;
    font-size: 2.2rem;
    color: #3f4551;
}
.theme-base-chocolate ::selection {
    color: white;
    background-color: #bf4d28;
}
.theme-base-chocolate a.tag-wrapper {
    margin-left: 3px;
    text-decoration: none;
}
.theme-base-chocolate span.fa-sm {
    display: inline-block;
    margin-left: -10px;
    margin-right: -5px;
}
.theme-base-chocolate .tags {
    border-radius: 5px;
    padding: .2em .6em .3em;
    font-size: 14px;
    font-weight: bold;
    background-color: #268bd2;
    color: white;
    font-style: normal;
    opacity: 0.7;
}
.theme-base-chocolate .tags:hover {
    opacity: 1;
}
.theme-base-chocolate .comment-count {
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
}
.theme-base-chocolate .message {
    background-color: #eeeeee;
    min-height: 20%;
    margin-top: 1rem;
}
.theme-base-chocolate .profile {
    display: inline-block;
    width: 16%;
    height: 100%;
    margin: 0 3% 0 0;
    vertical-align: middle;
}
.theme-base-chocolate .intro-message {
    display: inline-block;
    width: 79%;
    vertical-align: middle;
}
@media screen and (max-width: 479px) {
    .theme-base-chocolate .profile {
        width: 25%;
        margin: 0 3% 0 0;
    }
    .theme-base-chocolate .intro-message {
        width: 70%;
    }
}
.theme-base-chocolate .related {
    border-top: 1px solid #ddd;
}
